.card {
    background: #121314;
    color: white;
    width: 100%;
    height: auto;
    border: 1px solid #28292a;
    box-sizing: border-box;
}

.card.main {
    border: none;
}

.card.tree {
    all: unset;
    text-align: left;
    width: 300px;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    flex-shrink: 0;
    border-right: 1px solid #28292a;
    overflow: hidden;
}

.card:not(.tree) {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    overflow: hidden;
    align-items: stretch;
    padding: 0;
    min-height: 0;
}

.card.login {
    flex-grow: 1;
    height: 100%;
    overflow-y: hidden;
    /* padding: 40px; */
    background: #121314;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
}

.sidebar {
    width: 100%;
    margin-top: 0;
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}

.card.side {
    all: unset;
    text-align: center;
    width: 60px;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0 15px 0;
    box-sizing: border-box;
    border-right: 1px solid #28292a;
    flex-shrink: 0;
    overflow: hidden;
}

.icon {
    all: unset;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #888;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-top: 0;
    box-sizing: border-box;
}

.icon:hover {
    color: white;
}

.context-menu svg.lucide {
    width: 20px;
    height: 20px;
}