#navbar {
    background: #191a1b;
    border-bottom: 1px solid #28292a;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 50;
    margin-bottom: 1.13rem;
}

.search-bar {
    width: 400px;
    background: #252627;
    border: 1px solid #2e3031;
    color: white;
    border-radius: 6px;
    font-size: 0.85rem;
    outline: none;
    height: 1.75rem;
    box-sizing: border-box;
    margin-top: 0;
}

.search-bar::placeholder {
    color: #666;
}

.search-results {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #28292a;
    border-top: none;
    border-radius: 0 0 4px 4px;
    background: #1a1a1b;
    position: absolute;
    top: calc(100% - 1px);
    left: 50%;
    transform: translate(-50%);
    width: 400px;
    z-index: 100;
}

.search-result-item {
    padding: 8px 10px;
    cursor: pointer;
    border-bottom: 1px solid #28292a;
    color: #ccc;
    font-size: 0.85rem;
}

.search-result-item:hover {
    background: #252627;
    color: white;
}