* {
    --border: #aaa;
    --bg: #eee;
    --bg2: #ccc;
}

body.tema-claro {
    background: var(--bg);
    color: #1a1a1a
}

body.tema-claro .card, body.tema-claro .card:not(.tree) {
    background: #ccc;
    border-color: var(--border);
}

body.tema-claro .card.tree {
    background: var(--bg);
    color: #1a1a1a;
    border-color: var(--border);
}

body.tema-claro #navbar{
    background: var(--bg);
    border-color: var(--border);
}

body.tema-claro .tab {
    background: var(--bg);
    color: #444;
    border-color: var(--border);
}

body.tema-claro .tab:hover {
    background: var(--bg2);
}

body.tema-claro .tab.activa {
    background: var(--bg2);
    color: #1a1a1a;
    border-top: 1px solid black;
}

body.tema-claro .detail-contenido,
body.tema-claro #preview {
    background: var(--bg2);
    color: #1a1a1a;
    border-color: var(--border);
}

body.tema-claro .editor-container {
    background: var(--bg2);
}

body.tema-claro input {
    background: #b6bec5;
}

body.tema-claro .search-bar {
    background: #777;
    color: black;
    border-color: var(--border);
}

body.tema-claro .search-bar::placeholder {
    color: #ddd;
}

body.tema-claro .search-results {
    border-color: var(--border);
    background: #bebec5;
}

body.tema-claro .search-result-item {
    border-bottom: 1px solid var(--border);
    color: #333;
}

body.tema-claro ::-webkit-scrollbar-track {
    border-color: var(--border);
}

body.tema-claro ::-webkit-scrollbar-thumb {
    background-color: var(--border);
}

body.tema-claro ::-webkit-scrollbar-thumb:hover {
    background: color-mix(in srgb, var(--border) 80%, black);
}